picture{background:radial-gradient(rgba(0,0,0,.25) .5px,transparent 0) 0 0 /3px 3px,radial-gradient(rgba(0,0,0,.25) .5px,transparent 0) 1px 1px /3px 3px,radial-gradient(rgba(0,0,0,.25) .5px,transparent 0) 2px 2px /3px 3px}
